/*********************************************
 * Local styles specific to my presentations
 *********************************************/

/* Override slide centering (interferes with print-pdf?) */
@media screen {
  section.top { top: 0 !important; }
  section.bottom {
    top: initial !important;
    bottom: 0;
  }
}

/* Line separator below H2 */
.reveal section h2:after {
  content: "";
  display: block;
  margin: auto;
  width: 30%;
  border-bottom: 1px solid;
}
/* Except on special reverse-color slides */
.reveal section.has-light-background h2:after { display: none; }

/* Flexbox layout for images */
.imgbox {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.imgbox > div { flex: 1; }

/* Image captions */
.reveal section .caption {
  font-size: 50%;
  color: #aaa;
}

/* Common slide header/footer */
#header, #footer {
  position: absolute;
  left: 0;
  font-size: 60%;
}
#header { top: 0; }
#footer { bottom: 0; }

/* Placeholder if Javascript is disabled */
.noscript {
  padding: 20% 5%;
}
