<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= pkg.description %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <link rel=icon href="static/img/cross.svg" sizes="any" type="image/svg+xml" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="lib/css/reveal.css" />
    <link rel="stylesheet" href="lib/css/hljs/zenburn.css" />
    <link rel="stylesheet" href="static/css/boldblack.css" id="theme" />
	<link rel="stylesheet" href="static/css/slides.css" />

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'lib/css/print/pdf.css' : 'lib/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="reveal">
      <noscript><div class="noscript">
        <h1><%= pkg.description %></h1>
        <p>(Please see PDF link below)</p>
      </div></noscript>
      <div class="slides">

        <% _.forEach(slides, function(slide) { %>
          <% if (!_.isArray(slide)) { %>
            <%= section(slide) %>
          <% } else { %>
            <section>
              <% _.forEach(slide, function(verticalslide) { %>
                <%= section(verticalslide) %>
              <% }); %>
            </section>
          <% } %>
        <% }); %>

        <div id="footer"><%= pkg.config.pretty_url %>
          <a href="https://github.com/<%= pkg.repository %>">
            <i class="fa fa-github fa-inverse"></i></a>
          <a href="static/<%= config.shortname %>.pdf">
            <i class="fa fa-file-pdf-o fa-inverse"></i></a>
        </div>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="lib/js/reveal.js"></script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "HTML-CSS": { scale: 77 }
      });
    </script>

    <script>
      Reveal.initialize({
        history: false,
        maxScale: 4.0,
        margin: 0,
        slideNumber: 'c/t',

        math: {
          config: 'AM_HTMLorMML'
        },

        multiplex: {
          url: '<%= pkg.config.multiplex.url %>',
          id : '<%= pkg.config.multiplex.id  %>',
          secret: Reveal.getQueryHash().s || null
        },

        dependencies: [
          { src: 'lib/plugin/markdown/marked.js' },
          { src: 'lib/plugin/markdown/markdown.js' },
          { src: 'lib/plugin/notes/notes.js', async: true },
          { src: 'lib/plugin/math/math.js', async: true },
          { src: 'lib/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'https://cdn.socket.io/socket.io-1.4.5.js', async: true },
          Reveal.getQueryHash().s ? { src: 'lib/plugin/multiplex/master.js', async: true } : { src: 'lib/plugin/multiplex/client.js', async: true },
          { src: 'js/loadhtmlslides.js', condition: function() { return !!document.querySelector( '[data-html]' ); } },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js', condition: function() { return !document.body.classList; } }
        ]
      });

    </script>
  </body>
</html>
