<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title><!-- CUSTOM -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <link rel="stylesheet" href="bow/reveal.js/css/reveal.css" />
    <link rel="stylesheet" href="bow/reveal.js/css/theme/black.css" id="theme" />
    <link rel="stylesheet" href="bow/highlightjs/styles/zenburn.css" />
	<link rel="stylesheet" href="static/css/slides.css" />

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'bow/reveal.js/css/print/pdf.css' : 'bow/reveal.js/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
      <script src="bow/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="reveal">
      <div class="slides">

        <% _.forEach(slides, function(slide) { %>
          <% if (!_.isArray(slide)) { %>
            <%= section(slide) %>
          <% } %>
          <% if (_.isArray(slide)) { %>
            <section>
              <% _.forEach(slide, function(verticalslide) { %>
                <%= section(verticalslide) %>
              <% }); %>
            </section>
          <% } %>
        <% }); %>

        <div id="footer"><%= disp_url %></div>
      </div>
    </div>

    <script src="bow/reveal.js/lib/js/head.min.js"></script>
    <script src="bow/reveal.js/js/reveal.js"></script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "HTML-CSS": { scale: 77 }
      });
    </script>

    <script>
      Reveal.initialize({
        history: false,
        maxScale: 4.0,
        slideNumber: 'c/t',

        math: {
          config: 'AM_HTMLorMML'
        },

        multiplex: {
          url: 'https://mp-seanho00.rhcloud.com:8443/',
          id: '22bc761ffc97809b',	// secret: 45ba034647cea150
          secret: Reveal.getQueryHash().s || null
        },

        dependencies: [
          { src: 'bow/reveal.js/plugin/markdown/marked.js' },
          { src: 'bow/reveal.js/plugin/markdown/markdown.js' },
          { src: 'bow/reveal.js/plugin/notes/notes.js', async: true },
          { src: 'bow/reveal.js/plugin/math/math.js', async: true },
          { src: 'bow/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '//cdn.socket.io/socket.io-1.4.5.js', async: true },
          Reveal.getQueryHash().s ? { src: 'bow/reveal.js/plugin/multiplex/master.js', async: true } : { src: 'bow/reveal.js/plugin/multiplex/client.js', async: true },
          { src: 'js/loadhtmlslides.js', condition: function() { return !!document.querySelector( '[data-html]' ); } },
          { src: 'bow/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } }
        ]
      });

    </script>
  </body>
</html>
