<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= pkg.description %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <link rel=icon href="static/img/cross.svg" sizes="any" type="image/svg+xml" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/reveal.min.css" integrity="sha256-xQbuiMQSQySqhEhPK5DcB34BNZEh+zxY90b9tjXozE8=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/atom-one-dark.min.css" integrity="sha256-akwTLZec/XAFvgYgVH1T5/369lhA2Efr22xzCNl1nHs=" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/boldblack.css" id="theme" />
    <link rel="stylesheet" href="static/css/slides.css" />

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/print/pdf.min.css' : 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/print/paper.min.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="reveal">
      <noscript><div class="noscript">
        <h1><%= pkg.description %></h1>
        <p>(Please see PDF link below)</p>
      </div></noscript>
      <div class="slides">

        <section data-charset="utf8"
          data-separator="^\s{0,3}-\s*-\s*-[-\s]*$"
          data-separator-vertical="^\s{0,3}\*\s*\*\s*\*[\*\s]*$"
          data-separator-notes="^\s{0,3}>\s*>\s*>[>\s]*$"
          data-markdown="slides/sample.md">
        </section>

        <div id="footer"><%= pkg.config.pretty_url %> &emsp;
          <a href="https://github.com/<%= pkg.repository %>">
            <i class="fa fa-github fa-inverse"></i></a>
          <a href="static/<%= config.shortname %>.pdf">
            <i class="fa fa-file-pdf-o fa-inverse"></i></a>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js" integrity="sha256-+09kLhwACKXFPDvqo4xMMvi4+uXFsRZ2uYGbeN1U8sI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/js/reveal.min.js" integrity="sha256-lvaInSKflJWLPqf5N5oHr/UZFwXKD6gckerdwoHqECY=" crossorigin="anonymous"></script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "HTML-CSS": { scale: 77 }
      });
    </script>

    <script>
      Reveal.initialize({
        history: false,
        maxScale: 4.0,
        slideNumber: 'c/t',

        math: {
          config: 'AM_HTMLorMML'
        },

        multiplex: {
          url: '<%= pkg.config.multiplex.url %>',
          id : '<%= pkg.config.multiplex.id  %>',
          secret: Reveal.getQueryHash().s || null
        },

        dependencies: [
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/markdown/marked.min.js' },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/markdown/markdown.min.js' },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/notes/notes.min.js', async:true },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/math/math.min.js', async:true },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/highlight/highlight.min.js', async:true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.min.js', async:true },
          Reveal.getQueryHash().s ?  { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/multiplex/master.min.js', async:true } : { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/multiplex/client.min.js', async:true },
          { src: 'js/loadhtmlslides.js', condition: function() { return !!document.querySelector( '[data-html]' ); } },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js', condition: function() { return !document.body.classList; } }
        ]
      });

    </script>
  </body>
</html>
